<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Post</title>
    <head th:replace="/../fragments/styling :: styling" />
</head>
<nav th:replace="/../fragments/nav-bars :: nav" />
<header th:replace="/../fragments/header-footer :: edit-header" />
<body>
    <form th:action="@{'/posts/'+ ${post.id} +'/edit'}" method="post" >
        <label for="edit-title">Edit Title</label>
        <input class="form-control mr-5" id="edit-title" name="title" type="text" th:value="${post.title}"><br>
        <label for="edit-body">Edit Body</label><br>
        <textarea class="form-control" id="edit-body" name="body" type="text" th:text="${post.body}"></textarea>
        <input type="hidden" name="id" th:value="${post.id}">
        <button>Edit</button>
    </form>
    <form th:action="@{'/posts/'+ ${post.id} +'/delete'}" method="post">
        <button>Delete</button>
    </form>

</body>

<footer th:replace="/../fragments/header-footer :: footer" />

</html>