<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <head th:replace="/../fragments/styling :: styling" />


</head>
<nav th:replace="/../fragments/nav-bars :: nav" />
<header th:replace="/../fragments/header-footer :: individual-header" />
<body>
<div>
    <div class="container">
        <div class="card w-100 mt-2 mb-4">
            <div class="card-body">
                <h2 class="card-title red-font" th:text="${post.title}"></h2></a>
                <p id="body" th:text="${post.body}" class="widthy dark-font mb-4"></p>
                <input type="hidden" th:value="${post.id}">
                <p th:text="${post.user.email}" class="light-font text-right"></p>
                <a th:href="@{/posts/} + ${post.id} + '/edit'"><button class=" form-control btn btn-edit mb-2">Edit Post</button></a>
            </div>
        </div>
    </div>





</div>
</body>
<footer th:replace="/../fragments/header-footer :: footer" />
</html>