<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <head th:replace="/../fragments/styling :: styling" />

</head>
<nav th:replace="/../fragments/nav-bars :: nav" />
<header th:replace="/../fragments/header-footer :: main-header" />
<body>
<div>

    <h3 th:text="${post.title}"></h3></a>
    <p th:text="${post.body}"></p>
    <input type="hidden" th:value="${post.id}">

    <div th:each="post : ${posts}" class="container">

    </div>

    <img th:src="${post.image}" alt="">
    <a th:href="@{/posts/} + ${post.id} + '/edit'">Edit Post</a>


</div>
</body>
<footer th:replace="/../fragments/header-footer :: footer" />
</html>