
.widthy{
    margin: 0 auto;
    width: 95%;
}

.btn-edit{
     background-color: #273043 !important;
     color: whitesmoke;
 }

.btn-edit:hover{
    background-color: #23305F !important;
    color: whitesmoke;
}

.btn-delete{
    background-color: #F02D3A  !important;
    color: whitesmoke;
}

.btn-delete:hover{
    background-color: #F52D12 !important;
    color: whitesmoke;
}

.dark-font{
    color: #273043;
}

.red-font{
    color: #F02D3A;
}

.light-font{
    color: #9197AE;
}