<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <head th:replace="/../fragments/styling :: styling" />
</head>
<nav th:replace="/../fragments/nav-bars :: nav" />
<body>
    <header th:replace="/../fragments/header-footer :: error-header" />

    <div class="container">
        <div class="card w-100 mt-2 mb-4">
            <div class="card-body">
                <th:block th:switch="${error}">
                    <div th:case="'Not Found'">
                        <h3 class="dark-font text-center">Page not found!</h3>
                    </div>
                    <div th:case="'Forbidden'">
                        <h3 class="dark-font text-center">You don't have permission to view this page.</h3>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</body>

<footer th:replace="/../fragments/header-footer :: footer" />

</html>