<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice</title>
    <head th:replace="/../fragments/styling :: styling" />
</head>
<nav th:replace="/fragments/nav-bars :: nav" />
<header th:replace="fragments/header-footer :: header" />
<body>

    <h1>Guess what the dice will land on</h1>
    <div>
        <a href="/rolldice/1">1</a>
        <a href="/rolldice/2">2</a>
        <a href="/rolldice/3">3</a>
        <a href="/rolldice/4">4</a>
        <a href="/rolldice/5">5</a>
        <a href="/rolldice/6">6</a>
    </div>

    <div th:if="${guess != null}">
        <table>
            <tr>
                <th class="mr-2">Your Guess </th>
                <th> Actual Roll</th>
            </tr>
            <tr>
                <td th:text="${guess}"></td>
                <td th:text="${dice}"></td>
            </tr>
        </table>
        <p th:text="${msg}"></p>
    </div>
</body>
<footer th:replace="/fragments/header-footer :: footer" />

</html>